@{
    ViewBag.Title = "Home Page";
}

<style>
    .container-duan {
        display: flex;
        flex-direction: column;
    }

    .row-duan {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .object {
        text-align: center;
        width: 30%;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

        .object img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .object h2 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .object p {
            font-size: 14px;
            color: #666666;
        }
</style>
@if (Session["UserID"] != null)
{
    <div class="container-duan " style="padding-top: 50px">
        <h2 class="mb-2"> Danh sách dự án tham gia</h2>
        <div class="row-duan">
            @{ Html.RenderAction("HomeDuAN", "Home");}
        </div>
    </div>
}

else
{
    <div class="container-duan " style="padding-top: 50px">
        <h2 class="mb-2">Mời bạn đăng nhập để sử dụng dịch vụ của chúng tôi!</h2>
        
    </div>

}

